<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>44271322539-jv9bd5ng9pbjkke0ol4cvklrb3g5lt71.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.44271322539-jv9bd5ng9pbjkke0ol4cvklrb3g5lt71</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>44271322539-0hasng45g45e150k8sddh2vo89h6reck.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCjT203DS-I_OiKQ4a58DVaEvHIN3OjsmA</string>
	<key>GCM_SENDER_ID</key>
	<string>44271322539</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.linkzy</string>
	<key>PROJECT_ID</key>
	<string>friendzy-auth</string>
	<key>STORAGE_BUCKET</key>
	<string>friendzy-auth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:44271322539:ios:9066a9141a0e6b4b80beee</string>
</dict>
</plist>